{% extends "employee_portal/index.html" %}

{% block main_stuff %}
    {% include 'employee_portal/nav_bar.html' with nav_location=department %}
    <h1>Department {{department.name}}</h1>

    <ol>
        <h5>List of employees in this department</h5>
            {% for employee in department.employee_model_set.all %}
                <li>
                    {{employee.first_name}} {{employee.last_name}}
                </li>
            {% endfor %}
        

    </ol>

    <a href="{% url 'employee_portal:department_edit' department.id %}">edit department</a>
    <a href="{% url 'employee_portal:department_list' %}">Back to list</a>
{% endblock %}