{% extends "employee_portal/index.html" %}

{% block main_stuff %}
    {% include 'employee_portal/nav_bar.html' with nav_location=department %}
<h1>This is a list of employee details</h1>

<h2>Employee Information {{employee_model.first_name}} {{employee_model.last_name}}</h2>
<h3>Department: {{employee_model.department_id.name}}</h3>
<h3>Training programs </h3>


<ul>
{% for training in employee_model.training_program.all %}
<li>
    {{training.name}}
</li>
{% endfor %}
</ul>

<a href="{% url 'employee_portal:employee_edit' employee_model.id %}">edit employee details</a>
<a href="{% url 'employee_portal:employee_list' %}">back to list</a>
{% endblock %}